# 빌드 디렉토리
dist/

# 의존성 파일
node_modules/

# Vite 관련 파일
vite.config.ts

# ESLint 설정
.eslintrc.cjs

# 환경 설정 파일
.env
.env.local
.env.development
.env.test
.env.production 

# 기타 설정 파일
.gitignore
.prettierrc
.prettierignore
.nvmrc